body {
  font-family: 'Georgia', serif;
  background:#fff;
  background-size:100%;
  margin:0;
  padding:0;
  color:#111;
}

h1, h2, h3, p { margin:0; }

em, a {
  font-style:normal;
  color:#ff1759;
}

a {
  background: #ff1759;
  color:#000;
  text-decoration:none;
}

img { width:100%; }

div.slide {
  padding:10%;
  box-sizing:border-box;
  cursor:pointer;
  cursor:hand;
  font-size:40px;
  overflow:hidden;
  background-size:100%;
}
